@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: #000;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "";
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

/*=============ОБНУЛЕНИЕ СТИЛЕЙ=============*/

body {
	font-family: 'Jost', sans-serif;
    max-height: 100vh;
}

.content{
	position: relative;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}



.content a  {
    justify-self: start;
	position: relative;
}

@media (max-width: 360px) {
    .content a{
        display: none;
    }
}

.content a  img{
	margin: 20px 0 0 40px;
}

.menu__upper {
	display: grid;
    grid-template-columns: repeat(3, 1fr);

	margin-top: 40px;
    margin-right: 40px;
    justify-self: end;
    grid-column: 2;
}

@media (max-width: 930px) {
    .menu__upper a{
        display: none;
    }
}

.menu__upper li:hover{
    background-color: #9a1212;
    color: #fff;
    transform: scale(1.4);
}

.menu__upper li {
    font-family: 'Jost', sans-serif;
    text-align: center;
    width: 160px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #f3f3f3;
    letter-spacing: 1.2px;

    margin-left: 50px;

    transition: .4s;
}


.burger{
    display: flex;
    flex-direction: column;
}

.lineburger{
    height: 3px;
    width: 30px;
    margin-bottom: 2px;
    background-color: #000;
}

.lineburger:last-child{
    margin: 0;
}

.menu__upper li:last-child{
    display: flex;
    justify-content: space-around;
    align-items: center;
	height: 40px;
}

.content__row{
	grid-column: 1/3;
	justify-items: center;
	max-width: 70%;
}

.content__item1{

	display: flex;
	text-align: right;
	align-items: center;
	line-height: 48px;
	font-size:41px;

	margin-bottom: 30px;
}

@media (max-width: 1000px) {
    .content__item1 {
        display: flex;
		flex-direction: column;
		text-align: center;
    }
}

@media (max-width: 820px) {
    .content__item1 {
        display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 20px;
		line-height: 30px;
    }
}

.content__item2{
	font-size: 38px;
	text-align: right;
	line-height: 48px;
}

@media (max-width: 1000px) {
    .content__item2 {
        
		text-align: center;
    }
}

@media (max-width: 820px) {
    .content__item2 {
        font-size: 20px;
		text-align: center;
		line-height: 30px;
    }
}

footer{
	padding: 0 40px;
	justify-content: space-between;
	grid-column: 1/3;
    align-self: end;
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #F3F3F3;
	width: 100%;
}

.arrow a img{
	transform: rotate(180deg);
	max-width: 60px;
	max-height: 60px;
}

.footer__text{
	font-size: 20px;
    color: #9A1212;
	line-height: 25px;
}

/* footer img{
	position: absolute;
	left: 0;
	top: 0;
} */